@{
    ViewBag.Title = "Imagegallery";
    Layout = "~/Views/Shared/HomeMasterPage.cshtml";
}
<h2 style="height:100px;">o</h2>

<center>
<div id="main" data-aos="fade-right" style="background:black;min-height:570px;width:85%;box-shadow:6px 6px 3px red;border-radius:16px;"><br />
    <h1 style="color:white;text-align:center;"><span style="color:red;">P</span>roudct <span style="color:red;">I</span>mage <span style="color:red;">G</span>allery</h1>  
<div id="left">
<img src="~/Content/images/gal6.jpg" id="m1" height="350px" width="80%" style="border:3px solid red;margin-top:50px;"/>
</div>
<div id="right"><br /><br />
<img src="~/Content/images/gal1.jpg" style="height:150px;width:150px;border:1px solid red;margin:2%"/>
<img src="~/Content/images/gal2.jpg" style="height:150px;width:150px;border:1px solid red;margin:2%"/>
<img src="~/Content/images/gal3.jpg" style="height:150px;width:150px;border:1px solid red;margin:2%"/>
<img src="~/Content/images/gal4.jpg" style="height:150px;width:150px;border:1px solid red;margin:2%"/>
<img src="~/Content/images/gal1.jpg" style="height:150px;width:150px;border:1px solid red;margin:2%"/>
<img src="~/Content/images/gal5.jpg" style="height:150px;width:150px;border:1px solid red;margin:2%"/>
</div>
</div>
  </center>
<br /><br />