@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/HomeMasterPage.cshtml";
}


<h2 style="height:50px;">O</h2>
    
<div class="row"  style="background:linear-gradient(red,black);border-bottom:2px solid white;">
<div class="col-md-2"></div>
<div class="col-md-4" style="font-size:35px;color:white;font-family:serif"><p data-aos="zoom-in">Best Faishon Deals </p></div>
<div class="col-md-4" data-aos="zoom-in">
<div style="float:right;">
<input type="text" placeholder="search..." style="border-radius:8px;margin-top:12px;"/>&nbsp;
<svg xmlns="http://www.w3.org/2000/svg" style="border-radius:8px;color:white;" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" >
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg>
</div>
</div>
<div class="col-md-2" data-aos="zoom-in" style="color:white;font-size:20px;margin-top:10px;"><center>Filter&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
  <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
</svg></center></div>
</div>

<div class="row" data-aos="fade-right" >
<div id="dt" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
<li data-target="#dt" data-slide-to="0" class="active"></li>
<li data-target="#dt" data-slide-to="1" ></li>
<li data-target="#dt" data-slide-to="2" ></li>
</ol>
<div class="carousel-inner" role="listbox">
<div class="item active">
<img src="~/Content/images/hp2.jpg" width="100%"/>
</div>
<div class="item">
<img src="~/Content/images/phone2.jpg" width="100%"/>
</div>
<div class="item">
<img src="~/Content/images/audi2.jpg" width="100%"/>
</div>
</div>
</div>
</div>

<div class="row" style="background:linear-gradient(red,black);font-size:30px;color:white;">
    <div class="col-md-1"></div>
    <div class="col-md-11" >Best Deals <i class="fa fa-cart-arrow-down" style="font-size:30px;color:white;"></i></div>
</div><br />


    <div class="row" data-aos="fade-up" style="background:white;">
    <div class="col-md-2" style="color:black;min-height:320px;">
        <h1 class="text-center" ><i><span style="color:red;">T</span>op <span style="color:red;">O</span>ffers</i></h1>
        <center><i class="fa fa-bullhorn" style="font-size:70px;color:black;"></i></i></center>
    </div>
    
    <div class="col-md-2">
        <br /><br />
        <img src="/Content/images/top1.jpg" class="img img-responsive hvr-buzz" />
        <br /><br />
       <p class="text-center" style="font-size:17px;">Camre Set</p>
        <p class="text-center" style="color:green;font-size:15px;">₹ 2,499*</p>
        <p class="text-center" style="color:gray;font-size:15px;">Buy Now!</p>
    </div>
    <div class="col-md-2"><br /><br>
         <img src="/Content/images/top2.jpg" class="img img-responsive hvr-buzz" /><br /><br />
        <p class="text-center" style="font-size:17px;">HD Color TV</p>
        <p class="text-center" style="color:green;font-size:15px;">₹ 17,599</p>
        <p class="text-center" style="color:gray;font-size:15px;">Shop Now!</p>
    </div>
    <div class="col-md-2">
        <img src="/Content/images/top3.jpg" class="img img-responsive hvr-buzz" />
        <p class="text-center" style="font-size:17px;">Mkhamal farnicture </p>
        <p class="text-center" style="color:green;font-size:15px;">₹ 16,899*</p>
        <p class="text-center" style="color:gray;font-size:15px;">Include best offers</p>
    </div>
    <div class="col-md-2"><br /><br /><br />
         <img src="/Content/images/top4.jpg" class="img img-responsive hvr-buzz" /><br /><br /><br />
        <p class="text-center" style="font-size:17px;">Best Sun Glasses</p>
        <p class="text-center" style="color:green;font-size:15px;">₹ 699</p>
        <p class="text-center" style="color:gray;font-size:15px;">Brand of Mi,Rolex</p>
    </div>
    <div class="col-md-2">
        <img src="/Content/images/top5.jpg" class="img img-responsive hvr-buzz" />
        <p class="text-center" style="font-size:17px;">School Bags</p>
        <p class="text-center" style="color:green;font-size:15px;">₹ 699*</p>
        <p class="text-center" style="color:gray;font-size:15px;">Smart deal!</p>
    </div>
   
</div>

<div class="row" style="background:linear-gradient(red,black);font-size:30px;color:white;">
    <div class="col-md-1"></div>
    <div class="col-md-11" >Top Brands <i class="fa fa-cart-arrow-down" style="font-size:30px;color:white;"></i></div>
</div><br />

<div class="row" data-aos="fade-up" style="background:white;">
    <div class="col-md-2" style="color:black;min-height:320px;">
        <h1 class="text-center" ><i><span style="color:red;">E</span>lectronic <span style="color:red;">P</span>roducts</i></h1>
        <center><i class="fa fa-camera-retro" style="font-size:48px;color:black;"></i></center>
    </div>
    
    <div class="col-md-2">
        <br /><br />
        <img src="/Content/images/tv.jpg" class="img hvr-pop" />
        <br /><br />
       <p class="text-center" style="font-size:17px;"> 40-43 inches Smart TVs</p>
        <p class="text-center" style="color:green;font-size:15px;">₹ 19,499*</p>
        <p class="text-center" style="color:gray;font-size:15px;">Buy Now!</p>
    </div>
    <div class="col-md-2"><br /></br>
         <img src="/Content/images/key.jpg" class="img hvr-pop" /><br /><br /><br /><br />
        <p class="text-center" style="font-size:17px;">Gaming KeyBoard</p>
        <p class="text-center" style="color:green;font-size:15px;">₹ 599</p>
        <p class="text-center" style="color:gray;font-size:15px;">Shop Now!</p>
    </div>
    <div class="col-md-2">
        <img src="/Content/images/time1.jpg" class="img hvr-pop" />
        <p class="text-center" style="font-size:17px;">Sumsung Watch 4</p>
        <p class="text-center" style="color:green;font-size:15px;">₹ 15299*</p>
        <p class="text-center" style="color:gray;font-size:15px;">Body Composition Tracer</p>
    </div>
    <div class="col-md-2">
         <img src="/Content/images/bank.jpg" class="img hvr-pop" />
        <p class="text-center" style="font-size:17px;">High Capacity Powerbank</p>
        <p class="text-center" style="color:green;font-size:15px;">₹ 599</p>
        <p class="text-center" style="color:gray;font-size:15px;">Mi,Realme & more</p>
    </div>
    <div class="col-md-2">
        <img src="/Content/images/kic.jpg" class="img hvr-pop" />
        <p class="text-center" style="font-size:17px;">Elctric Kettles</p>
        <p class="text-center" style="color:green;font-size:15px;">₹ 1699*</p>
        <p class="text-center" style="color:gray;font-size:15px;">Instent Food Maker!</p>
    </div>
</div>

<div class="row" style="border-top:2px solid white;color:white;background:linear-gradient(red,black);border-bottom:2px solid white;">
<div class="col-md-1"></div>
<div class="col-md-11">
<i style="font-size:25px;">
big selling days 
</i>
</div>
</div><br />
<div class="row" data-aos="fade-up">
    <div class="col-md-4">
        <img src="/Content/images/offer1.jpg" width="100%"/>
    </div>
    <div class="col-md-4">
        <img src="/Content/images/offer2.jpg" width="100%" />
    </div>
    <div class="col-md-4">
        <img src="/Content/images/offer3.jpg" width="100%"/>
    </div>
</div>
<br />





<div class="row" style="border-top:2px solid white;color:white;background:linear-gradient(red,black);border-bottom:2px solid white;">
<div class="col-md-1"></div>
<div class="col-md-11">
<i style="font-size:25px;">
Grocery Products 
</i>
</div>
</div><br />

<div class="row" data-aos="fade-up" style="background:white;">
    <div class="col-md-2">
        <img src="/Content/images/g.jpg" class="img img-rounded hvr-pulse" />
    </div>
    <div class="col-md-2">
        <img src="/Content/images/g3.jpg" class="img img-rounded hvr-pulse" />
    </div>
    <div class="col-md-2">
        <img src="/Content/images/g1.jpg" class="img img-rounded hvr-pulse" />
    </div>
    <div class="col-md-2">
        <img src="/Content/images/g2.jpg" class="img img-rounded hvr-pulse" />
    </div>
    <div class="col-md-2">
        <img src="/Content/images/g4.jpg" class="img img-rounded hvr-pulse" />
    </div>
    <div class="col-md-2">
       <center> <img src="/Content/images/g5.jpg" class="img img-rounded hvr-pulse" /></center>
    </div>
</div><br />

<div class="row" style="border-top:2px solid white;color:white;background:linear-gradient(red,black);border-bottom:2px solid white;">
<div class="col-md-1"></div>
<div class="col-md-11">
<i style="font-size:25px;">
Others . . . .
</i>
</div>
</div><br />

<div class="row" data-aos="fade-up" style="background:white;">
    <div class="col-md-2">
        <br /><br />
        <img src="/Content/images/tv.jpg" class="img img-fluid hvr-float" />
        <br /><br />
       <p class="text-center" style="font-size:17px;"> 40-43 inches Smart TVs</p>
        <p class="text-center" style="color:green;font-size:15px;">₹ 19,499*</p>
        <p class="text-center" style="color:gray;font-size:15px;">Buy Now!</p>
    </div>
    <div class="col-md-2"><br /><br />
         <img src="/Content/images/key.jpg" class="img img-fluid hvr-float" /><br /><br /><br /><br />
        <p class="text-center" style="font-size:17px;">Gaming KeyBoard</p>
        <p class="text-center" style="color:green;font-size:15px;">₹ 599</p>
        <p class="text-center" style="color:gray;font-size:15px;">Shop Now!</p>
    </div>
    <div class="col-md-2">
        <img src="/Content/images/time1.jpg" class="img img-fluid hvr-float" />
        <p class="text-center" style="font-size:17px;">Sumsung Watch 4</p>
        <p class="text-center" style="color:green;font-size:15px;">₹ 15299*</p>
        <p class="text-center" style="color:gray;font-size:15px;">Body Composition Tracer</p>
    </div>
    <div class="col-md-2">
         <img src="/Content/images/com.jpg" class="img img-fluid hvr-float" />
        <p class="text-center" style="font-size:17px;">High Capacity Powerbank</p>
        <p class="text-center" style="color:green;font-size:15px;">₹ 599</p>
        <p class="text-center" style="color:gray;font-size:15px;">Mi,Realme & more</p>
    </div>
    <div class="col-md-2">
        <img src="/Content/images/kic.jpg" class="img img-fluid hvr-float" />
        <p class="text-center" style="font-size:17px;">Elctric Kettles</p>
        <p class="text-center" style="color:green;font-size:15px;">₹ 1699*</p>
        <p class="text-center" style="color:gray;font-size:15px;">Instent Food Maker!</p>
    </div>
<div class="col-md-2" style="color:black;min-height:320px;">
        <h1 class="text-center" ><i><span style="color:red;">E</span>lectronic <span style="color:red;">P</span>roducts</i></h1>
        <center><i class="fa fa-camera-retro" style="font-size:48px;color:black;"></i></center>
    </div>
    </div>

<div class="row" style="border-top:2px solid white;color:white;background:linear-gradient(red,black);border-bottom:2px solid white;">
<div class="col-md-1"></div>
<div class="col-md-11">
<i style="font-size:25px;">
Some Selling Policy..
</i>
</div>
</div>
<div class="row" data-aos="fade-up">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <p style="font-size:20px;"> All sellers are expected to adhere to the following policies when listing products on Amazon. Seller offenses and prohibited content can result in suspension of your Amazon account.</p><br />
        <p class="font-size:17px;">This policy requires that sellers act fairly and honestly on Amazon to ensure a safe buying and selling experience. All sellers must:</p><br />
        <ul>
    <li>Provide accurate information to Amazon and our customers at all times</li>
    <li>Act fairly and not misuse Amazon’s features or services</li>
    <li>Not attempt to damage or abuse another Seller, their listings or ratings</li>
    <li>Not attempt to influence customers’ ratings, feedback, and reviews</li>
    <li>Not send unsolicited or inappropriate communications</li>
    <li>Not contact customers except through Buyer-Seller Messaging</li>
    <li>Not attempt to circumvent the Amazon sales process</li>
    <li>Not operate more than one selling account on Amazon without a legitimate business need</li>
    <li>Not engage in conduct that violates price fixing laws</li>
            </ul>
    </div>
    <div class="col-md-1"></div>
</div><br />

@*team*@
<div class="row" style="border-top:2px solid white;color:white;background:linear-gradient(red,black);border-bottom:2px solid white;">
<div class="col-md-1"></div>
<div class="col-md-11">
<i style="font-size:25px;">
OUR TEAM.....
</i>
</div>
</div><br />
<div id="sell">
<div class="container" data-aos="fade-up">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="~/Content/images/vipin1.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>I love to introduce myself as a Farji Back Bencher Student.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://wa.me/919794316040?text=hii%20launde%20I%20want%20to%20ask%20you.."><i class="fa fa-whatsapp fa-4x" style="color:red;"></i></a>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Vipin Singh</h5>
                                <span>Future M.P. INDIA</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="~/Content/images/vipin1.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hello World</h4>
                                        <p>I love to introduce myself as a .Net developer.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="https://wa.me/919621371306?text=hii%20I%20want%20to%20ask%20you.."><i class="fa fa-whatsapp fa-4x" style="color:red;"></i></a>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>T. Vipin</h5>
                                <span>head MP</span>
                            </div>
                        </div>
                       

                    </div>

                </div>
    </div>

@*iframe*@


<div class="row" style="border-top:2px solid white;color:white;background:linear-gradient(red,black);border-bottom:2px solid white;">
<div class="col-md-1"></div>
<div class="col-md-11">
<i style="font-size:25px;">
Location Of HeadOffice
</i>
</div>
</div>

<div class="row">
    <div class="col-md-12" style="min-height:2px;"></div>
</div>

<div class="row" data-aos="fade-up">
  <div class="col-md-12">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3561.4819323534234!2d80.88847935492777!3d26.792779271694158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399c40a9c2f36c41%3A0xa952e19b1c5a81d4!2sKanpur%20-%20Lucknow%20Rd%2C%20LDA%20Colony%2C%20Lucknow%2C%20Uttar%20Pradesh!5e0!3m2!1sen!2sin!4v1662057488771!5m2!1sen!2sin" width="100%" height="450" style="box-shadow:6px 6px 3px red;border:1px solid red;"loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>

<div class="row">
    <div class="col-md-12" style="min-height:2px;"></div>
</div>



