@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminMasterPage.cshtml";
}


<div class="row">

                    <div class="outer-w3-agile col-xl">
                        <center>
                            <h2><span style="color:red;">C</span>ustomer <span style="color:red;">M</span>anagement</h2>
                        <div class="p-3 mt-3 d-flex" style="background-color:black;">
                            <div class="s-l">
                                <h5><span style="color:red;">N</span>otification </h5>

                            </div>
                            @*<div class="s-r">
                                <h6>250
                                    <i class="fa fa-th"></i>
                                </h6>
                            </div>*@
                        </div>
                        <div class="p-3 mt-3 d-flex" style="background-color: black;">
                            <div class="s-l">
                                <h5><span style="color:red;">P</span>roduct <span style="color:red;">M</span>anagement</h5>

                            </div>
                            
                        </div>
                            <div class="p-3 mt-3 d-flex" style="background-color: black;">
                            <div class="s-l">
                                <h5><span style="color:red;">L</span>ogin <span style="color:red;">I</span>nfo</h5>

                            </div>
                            
                        </div>
                        
                        </center>

                    </div>


                    <!-- Stats -->
                    <div class="outer-w3-agile col-xl">
                        <center>
                            <h2><span style="color:red;">R</span>esponce <span style="color:red;">M</span>anagement</h2>
                        <div class="p-3 mt-3 d-flex" style="background-color: black;">
                            <div class="s-l">
                                <h5><span style="color:red;">E</span>nquiry <span style="color:red;">M</span>anagement</h5>

                            </div>
                           @* <div class="s-r">
                                <h6>250
                                    <i class="fas fa-key"></i>
                                </h6>
                            </div>*@
                        </div>
                      
                        <div class="p-3 mt-3 d-flex" style="background-color: black;">
                            <div class="s-l">
                                <h5><span style="color:red;">R</span>eview <span style="color:red;">M</span>anagement</h5>

                            </div>
                            
                        </div>
                             <div class="p-3 mt-3 d-flex" style="background-color: black;">
                            <div class="s-l">
                                <h5><span style="color:red;">F</span>eedback <span style="color:red;">M</span>anagement</h5>

                            </div>
                            
                        </div>
                        </center>

                    </div>
                    <!--// Stats -->




                    <!-- Pie-chart -->

                </div>