@{
    ViewBag.Title = "Notification";
    Layout = "~/Views/Shared/HomeMasterPage.cshtml";
}

<h2 style="height:100px;">o</h2>

<div class="row" data-aos="fade-right">
    <div class="col-md-1"></div>
    <div class="col-md-4" style="background:black;box-shadow:6px 6px 3px red;border-radius:8px;">
        <h1 style="color:white;text-align:center;"><span style="color:red;">O</span>ur <span style="color:red;">O</span>ffers </h1>
        <hr style="background:red;height:3px;" />
        <ul style="color:white;">
            <li><p style="font-size:15px;">3% Instent Cashback in HDFC Debit Card</p></li><br />
            <li><p style="font-size:15px;">Great deals starts from 4 Sep To 8 Sep </p></li><br />
            <li><p style="font-size:15px;">Use Smart Cradit Card to get Reward/Order </p></li><br />
            <li><p style="font-size:15px;">Exchange offer - 15 day </p></li><br />
            <li><p style="font-size:15px;">Pay On Our OR Code To get Free Delevery </p></li><br />
            <li><p style="font-size:15px;">Great deals starts from 4 Sep To 8 Sep </p></li><br />
            <li><p style="font-size:15px;">Use Smart Cradit Card to get Reward/Order </p></li><br />
            <li><p style="font-size:15px;">Exchange offer - 15 day </p></li><br />
            <li><p style="font-size:15px;">Pay On Our OR Code To get Free Delevery </p></li><br />
                                 
        </ul><br />
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-4" style="background:black;box-shadow:6px 6px 3px red;border-radius:8px;">
        <h1 style="color:white;text-align:center;"><span style="color:red;">N</span>otification</h1><hr style="background:red;height:3px;   " />
        <ul style="color:white;">
            <li><p style="font-size:15px;">Hey There : you have a reward to connect with for long time</p></li><hr />
            <li><p style="font-size:15px;">Your Order is Posted You can trace your Product via SMS Link</p></li><hr />
            <li><p style="font-size:15px;">You have a chance to get upto 100% discount on your next product</p></li><hr />
            <li><p style="font-size:15px;">You Payment has not complated Please Check Out it</p></li><hr />
            <li><p style="font-size:15px;">Pay On Our OR Code To get Free Delevery </p></li><hr />
            <li><p style="font-size:15px;">You Present Recharge plain is going to expaire!! recharge Immidiatly </p></li><hr />
        </ul>
    </div>
    <div class="col-md-1"></div>
</div><br /><br />